@charset "UTF-8";

@font-face {
    font-family: "Adobecaslon";
    src: url("fonts/ACaslonPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InterRegular";
    src: url("fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InterLight";
    src: url("fonts/Inter_18pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("fonts/HelveticaNeue-Medium.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "InterBold";
    src: url("fonts/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "InterSemibold";
    src: url("fonts/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MontserratMedium";
    src: url("fonts/MontserratAlternates-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Superbusy";
    src: url("fonts/SuperbusyActivity-Outline.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Kartis";
    src: url("fonts/Kartis.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(21, 21, 21);
    color: rgb(239, 236, 227);
    font-family: "Montserrat", sans-serif;
    margin-top: 9px;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 16px;
    line-height: 1.7;
}

html {
    scroll-behavior: smooth;
}

/* BARRA DE NAVEGACIÓN */
.header-container {
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 6px;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 60px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 2.8px solid rgb(239, 236, 227);
}

.nav-principal {
    display: flex;
    align-items: center;
    gap: 18px;
    width: 100%;
}

.nav-principal a {
    font-family: 'InterBold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(239, 236, 227);
    border: 2.8px solid rgb(239, 236, 227);
    border-radius: 100px;
    padding: 7px 13px;
    transition: all 0.3s ease;
}

.nav-principal a:hover {
    background-color: rgb(247, 105, 235);
    color: rgb(239, 236, 227);
    box-shadow: 0 0 15px rgb(239, 236, 227);
}

.nav-principal .nav-derecha {
    font-family: 'Kartis', sans-serif;
    color: rgb(247, 105, 235);
    margin-left: auto;
    margin-right: -9px;
    font-size: 30px;
    border: none;
    font-weight: 300;
    pointer-events: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.header-logo {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 13px;
    margin-top: 0px;
}

/* VOLANTA Y TITULAR */
.hero-container {
    margin-top: 0px;
    padding-left: 160px;
    padding-top: 160px
}

h2 {
    font-family: "InterLight", sans-serif;
    color: rgb(247, 105, 235);
    font-size: 14px;
    letter-spacing: 3px;
}

.destacado {
    font-family: "Kartis", sans-serif;
    letter-spacing: 4px;
    font-size: 87px;
    color: rgb(247, 105, 235);
    padding-top: 5px;
}

.destacado-presentacion {
    font-family: "InterBold", sans-serif;
    color: rgb(247, 105, 235);
}

h1,
.elemento-decorativo {
    font-family: "InterSemibold", serif;
    font-size: 80px;
    line-height: 1.02;
    letter-spacing: 1px;
    margin-top: 30px;
}

.elemento-decorativo {
    line-height: 0;
    padding-bottom: 60px;
}


/* MI PRESENTACIÓN */
.perfil {
    padding-left: 140px;
    padding-right: 160px;
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    column-gap: 80px;
    justify-content: center;
    margin-bottom: 80px;
    background-color: rgb(239, 236, 227);
    /* Animación y efectos extra */
    animation: difuminarScroll linear both;
    animation-timeline: view();
    animation-range: entry 10% exit 90%;
}


@keyframes difuminarScroll {
    0% {
        opacity: 0;
        filter: blur(8px);
        transform: translateY(60px) scale(0.95);
    }

    35%,
    65% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        filter: blur(10px);
        transform: translateY(-30px) scale(0.95);
    }
}

h4 {
    color: rgb(21, 21, 21);
    font-family: "Kartis", sans-serif;
    font-size: 65px;
    margin-top: 40px;
    margin-bottom: 35px;
    text-decoration: underline wavy rgb(247, 105, 235);
    text-decoration-thickness: 8px;
    text-underline-offset: 12px;
    display: inline-block;
    animation: flotar 2s ease-in-out infinite;
}

@keyframes flotar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

#b1,
#b2 {
    width: 550px;
    font-family: 'InterRegular', sans-serif;
    color: rgb(21, 21, 21);
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 40px;
}

#b1 {
    margin-bottom: 0px;
}

.descarga-cv {
    font-family: 'InterBold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(239, 236, 227);
    background-color: rgb(247, 105, 235);
    border-radius: 100px;
    padding: 13px 20px;
}

.foto-perfil {
    mix-blend-mode: multiply;
    padding-left: 30px;
}

/* PERFIL Y COLUMNAS */

.titulo-formacion {
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    text-underline-offset: 9px;
    padding-bottom: 50px;
}


.lista-curriculum,
.lista-office {
    list-style: none;
    padding: 0;
    margin: 0;
}


.formacion {
    padding-left: 230px;
    padding-right: 210px;
    display: flex;
    column-gap: 90px;
    justify-content: center;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: 1.4fr 1.5fr 1.8fr;
}

h3 {
    font-family: "InterBold", sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
}

.item-curriculum {
    border-bottom: 1px solid rgb(247, 105, 235);
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.item-curriculum:last-child {
    border-bottom: none;
}

.ed-tag {
    font-family: 'InterSemibold', sans-serif;
    color: rgb(21, 21, 21);
    font-size: 15px;
    background-color: rgb(239, 236, 227);
    border-radius: 110px;
    padding: 7px 18px;
    white-space: nowrap;
}

.ed-texto {
    margin-top: 25px;
    padding-bottom: 10px;
    font-size: 13.5px;
}

.destacado-curriculum {
    font-size: 16px;
    color: rgb(247, 105, 235);
}


#listado-skills {
    width: 60%
}

.skill-icon {
    padding-right: 27px;
    padding-bottom: 21px;
}

#listado-adobe {
    font-size: 14px;
    text-decoration: none;
}

.listado-office {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    column-gap: 20px;
}

/* CONTACTO */

.footer-container {
    padding: 0;
    margin: 0;
    background-color: rgb(247, 105, 235);
    padding: 25px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.footer-texto {
    font-family: "InterBold";
    font-size: 20px;
}

.footer-redes {
    display: flex;
    align-items: center;
    gap: 20px;
}