@charset "UTF-8";

@font-face {
    font-family: "Adobecaslon";
    src: url("fonts/ACaslonPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InterRegular";
    src: url("fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "InterLight";
    src: url("fonts/Inter_18pt-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gragio";
    src: url("fonts/Gragio.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("fonts/HelveticaNeue-Medium.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "InterBold";
    src: url("fonts/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "InterSemibold";
    src: url("fonts/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Groonex";
    src: url("fonts/Groonex-Slant.ttf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: rgb(21, 21, 21);
    color: rgb(243, 243, 243);
    font-family: "Montserrat", sans-serif;
    padding: 35px 35px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: -13px;
}

.mi-inicio {
    display: flex;
    align-items: center;
    gap: 17px;
    width: 100%;
}

.mi-inicio a {
    font-family: 'InterBold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(243, 243, 243);
    border: 2.8px solid rgb(243, 243, 243);
    border-radius: 100px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.mi-inicio a:hover {
    background-color: rgb(243, 243, 243);
    color: rgb(243, 243, 243);
    box-shadow: 0 0 15px rgb(243, 243, 243);
}

.mi-inicio .derecha {
    font-family: 'InterBold', sans-serif;
    margin-left: auto;
    margin-right: -17px;
    font-size: 35px;
    border: none;
    font-weight: 300;
    pointer-events: none;
}

.linea-principal {
    border: none;
    height: 3px;
    background-color: rgb(243, 243, 243);
    margin-top: -3px;
}

.subtitulo-header h1 {
    font-family: "InterLight", sans-serif;
    color: rgb(243, 243, 243);
    font-size: 14px;
    letter-spacing: 3px;
    padding-top: 150px;
    margin-bottom: -40px;
    padding-left: 4px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.columna-izquierda {
    flex: 1.2;

}

.columna-derecha {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 480px;
    padding-right: 145px;
    padding-bottom: 30px;
}

h2 {
    font-family: "InterSemibold", serif;
    font-size: 80px;
    padding-top: 0px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

h3 {
    font-family: "InterBold", sans-serif;
    font-size: 80px;
    margin-top: -5px;
    margin-bottom: 20px;
}

h4 {
    font-family: "InterBold", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: flex-end;
}

#b3 {
    font-family: 'InterBold', sans-serif;
    color: rgb(21, 21, 21);
    font-size: 12px;
    background-color: rgb(243, 243, 243);
    border-radius: 100px;
    padding: 8px 20px;
    display: inline-block;
}

h5 {
    font-family: "InterBold", sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
}

.ed-tag {
    font-family: 'InterSemibold', sans-serif;
    color: rgb(21, 21, 21);
    ;
    font-size: 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 110px;
    padding: 7px 18px;
    white-space: nowrap;
}

.ed-texto {
    margin-top: 25px;
    padding-bottom: 10px;
    font-size: 14px;
}

.hr-separador {
    border: none;
    height: 1px;
    background-color: rgb(243, 243, 243);
    margin: 15px 0 42.4px 0;
}

.logoprincipal {
    padding-right: 22px;
    margin-top: 0px;
}

#fotocv {
    max-width: 100%;
    padding-left: 230px;
    margin-top: -35px;
}

.columnas {
    padding-left: 180px;
    padding-right: 100px;
    display: flex;
    column-gap: 120px;
    justify-content: center;
    margin-bottom: 80px;
}

#columasinfo {
    width: 450px;
}

#columnaskills {
    width: 362px;
}

#icono1 {
    padding-right: 28px;
    padding-bottom: 29px;
}

h6 {
    font-family: "InterLight", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 90px;
    text-decoration: underline;
    text-underline-offset: 9px;
}

.listado {
    font-size: 14px;
    text-decoration: none;
}

.extra {
    width: 100%;
    padding-top: 90px;
}

.redes {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    margin-bottom: 30px;
}
